html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* Background image is pattern.png repeated all over */
body {
  background-image: url('./pattern.png');
  background-repeat: repeat;
  background-size: 20%;
  /* Transparency */
  background-color: rgba(0, 0, 0, 0.5);
}